Document Param3 

Please document Param3. 

I would like to know the exact allowed format of the domain name. E.g. is .snowplow. a valid name? Are the cookies accessible if I have a collector running at collector.domain.net, but the website is www.domain.com? 

"3. Setting the domain name

The domain name can be entered directly into the same dialogue box as the environment name and P3P policy header by entering it into Param3.

Setting the domain name can be useful if you want to make the cookie accessible to other applications on your domain. In our example above, for example, we've setup the collector on collector.snplow.com. If we do not set a domain name, the cookie will default to thsi domain. However, if we set it to .snplow.com, that cookie will be accessible to other applications running on *.snplow.com."

Would be good to update this section with a link to RFC 6265 (April 2011):

https://tools.ietf.org/html/rfc6265

There is a sub-section which explains cookie domain behaviors.

IMHO, this spec is much clearer: http://tools.ietf.org/html/rfc2965 . The language used to describe domain matching in RFC 6265 is terrible. 

@alexanderdean - I added ref to section 5.1.3 of RFC 6265. That includes other setup pages too, in particular Scala Collector docs.

Nice, pushed, closing